.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main_container {
  margin-top: 50px;
  margin-left: 33%;
}

.title {
  margin-left: 2%;
}

.sub_container {
  border: 1px solid black;
  height: 550px;
  width: 500px;
  margin-top: 30px;
  text-align: center

}

.image_container {
  height: 300px;
  width: 500px;
  margin-top: 30px;
}

.prediction_container {
  border: 2px solid red;
  height: 25px;
  width: 100px;
  margin-top: 10%;
  margin-left: 40%;
  text-align: center;
  justify-content: center;
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
